* {
  box-sizing: border-box;
}

.frame2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  padding: 29px 36px 0px 42px;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  background-image: linear-gradient(180deg, #f5f6f7 63.8%, #f1e5e6 100%);

  .ellipse198 {
    position: absolute;
    top: 596px;
    left: 653px;
    border: 1px dashed #d8d1d1;
    border-radius: 50%;
    width: 108px;
    height: 108px;
  }

  .autoWrapper12 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding-right: 0;
    padding-left: 0;

    .autoWrapper10 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      padding-right: 0;
      padding-left: 0;

      .text25 {
        letter-spacing: 0;
        color: #8f7f7f;
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 8px;
      }

      .text24 {
        letter-spacing: 0;
        color: #8f7f7f;
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 8px;
        font-weight: 500;
      }

      .autoWrapper7 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;

        .text3 {
          line-height: 22px;
          letter-spacing: 0;
          color: #6e5d5d;
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 10px;
          font-weight: 300;
        }

        .text2 {
          line-height: 22px;
          letter-spacing: 0;
          color: #6e5d5d;
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
        }

        .text {
          width: 75px;
          height: 20px;
          letter-spacing: 0;
          color: #6b5f5f;
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 500;
        }

        .wildGeeseFlySouth {
          width: 539px;
          height: 28px;
          letter-spacing: 0;
          color: #572c2c;
          font-family: "Padyakke Expanded One", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
        }

        .autoWrapper3 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 69px;
          padding-right: 0;
          padding-left: 103px;

          .rectangle32 {
            display: flex;
            align-items: flex-start;
            margin-top: 11px;
            border: 1px solid #889cc5;
            padding: 7px 10px 9px 14px;
          }

          .autoWrapper2 {
            position: relative;
            width: 926px;
            height: 99px;

            .group218 {
              display: flex;
              position: absolute;
              top: 0;
              left: 0;
              align-items: flex-start;
              padding: 0px 261px 8px 81px;
              width: 926px;
              height: 99px;

              .ellipse145 {
                display: flex;
                flex-grow: 1;
                align-items: center;
                border: 1px solid #a19898;
                border-radius: 50%;
                padding: 9px;

                .frame {
                  width: 24px;
                  height: 24px;
                  overflow: hidden;
                }
              }

              .ellipse197 {
                display: flex;
                position: absolute;
                top: 35px;
                left: 0;
                align-items: flex-start;
                padding: 1px 88px 5px 780px;
                width: 926px;
                height: 64px;
                background-image: url(../image/mp3n5jsw-thhuliu.svg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;

                .ellipse150 {
                  display: flex;
                  flex-grow: 1;
                  align-items: center;
                  border-radius: 50%;
                  background: #f5f6f7;
                  padding: 7px;
                }
              }

              .autoWrapper {
                display: flex;
                position: relative;
                align-items: flex-start;
                align-self: stretch;

                .ellipse146 {
                  display: flex;
                  align-items: center;
                  margin-top: 33px;
                  border-radius: 50%;
                  background: #f5f6f7;
                  padding: 7px;
                }

                .ellipse147 {
                  display: flex;
                  align-items: center;
                  margin-top: 13px;
                  margin-left: 118px;
                  border-radius: 50%;
                  background: #f5f6f7;
                  padding: 7px;
                }

                .group215 {
                  margin-left: 119px;
                  width: 58px;
                  height: 58px;
                }

                .ellipse149 {
                  display: flex;
                  align-items: center;
                  margin-top: 11px;
                  margin-left: 115px;
                  border-radius: 50%;
                  background: #f5f6f7;
                  padding: 7px;
                }
              }
            }

            .text4 {
              position: absolute;
              bottom: -34px;
              left: 67px;
              width: 87px;
              height: 39px;
              text-align: center;
              line-height: 22px;
              letter-spacing: 0;
              color: #6e5d5d;
              font-size: 0;
            }

            .text5 {
              position: absolute;
              bottom: -14px;
              left: 248px;
              width: 76px;
              height: 39px;
              text-align: center;
              line-height: 22px;
              letter-spacing: 0;
              color: #6e5d5d;
              font-size: 0;
            }

            .text7 {
              position: absolute;
              bottom: -5px;
              left: 425px;
              width: 76px;
              height: 39px;
              text-align: center;
              line-height: 22px;
              letter-spacing: 0;
              color: #6e5d5d;
              font-size: 0;

              .text6 {
                line-height: 22px;
                letter-spacing: 0;
                color: #6e5d5d;
                font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 12px;
                font-weight: 500;
              }
            }

            .text8 {
              position: absolute;
              bottom: -14px;
              left: 598px;
              width: 76px;
              height: 39px;
              text-align: center;
              line-height: 22px;
              letter-spacing: 0;
              color: #6e5d5d;
              font-size: 0;
            }
          }
        }

        .text9 {
          margin: 1px 0px 0px 1226px;
          width: 76px;
          height: 39px;
          text-align: center;
          line-height: 22px;
          letter-spacing: 0;
          color: #6e5d5d;
          font-size: 0;
        }

        .autoWrapper6 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          margin-top: 103px;
          padding-right: 4px;
          padding-left: 105px;

          .rectangle31 {
            display: flex;
            align-items: flex-start;
            border: 1px solid #889cc5;
            padding: 7px 10px 9px 14px;
          }

          .autoWrapper4 {
            position: relative;
            margin-top: 178px;
            margin-left: 184px;
            width: 136px;
            height: 60px;

            .text10 {
              position: absolute;
              bottom: -61px;
              left: -115px;
              width: 17px;
              height: 160px;
              line-height: 18px;
              letter-spacing: 0;
              color: #927e7e;
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
            }

            .text11 {
              position: absolute;
              right: -331px;
              bottom: -14px;
              width: 17px;
              height: 181px;
              line-height: 18px;
              letter-spacing: 0;
              color: #927e7e;
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
            }

            .line111 {
              position: absolute;
              right: -1130px;
              bottom: -132px;
              background: #c2bcbc;
              width: 1531px;
              height: 1px;
              rotate: -7deg;
            }

            .line112 {
              position: absolute;
              bottom: -55px;
              left: -279px;
              background: #d8d1d1;
              width: 306px;
              height: 1px;
              rotate: -90deg;
            }

            .line123 {
              position: absolute;
              right: -156px;
              bottom: -266px;
              background: #d8d1d1;
              width: 123px;
              height: 1px;
              rotate: -90deg;
            }

            .line124 {
              position: absolute;
              right: -439px;
              bottom: -232px;
              background: #d8d1d1;
              width: 123px;
              height: 1px;
              rotate: -90deg;
            }

            .line125 {
              position: absolute;
              right: -723px;
              bottom: -197px;
              background: #d8d1d1;
              width: 123px;
              height: 1px;
              rotate: -90deg;
            }

            .line126 {
              position: absolute;
              right: -959px;
              bottom: -167px;
              background: #d8d1d1;
              width: 123px;
              height: 1px;
              rotate: -90deg;
            }

            .line117 {
              position: absolute;
              bottom: -223px;
              left: -130px;
              background: #d8d1d1;
              width: 80px;
              height: 1px;
              rotate: -157deg;
            }

            .line118 {
              position: absolute;
              right: -97px;
              bottom: -188px;
              background: #d8d1d1;
              width: 80px;
              height: 1px;
              rotate: -157deg;
            }

            .line119 {
              position: absolute;
              right: -380px;
              bottom: -154px;
              background: #d8d1d1;
              width: 80px;
              height: 1px;
              rotate: -157deg;
            }

            .line120 {
              position: absolute;
              right: -664px;
              bottom: -119px;
              background: #d8d1d1;
              width: 80px;
              height: 1px;
              rotate: -157deg;
            }

            .line121 {
              position: absolute;
              right: -900px;
              bottom: -89px;
              background: #d8d1d1;
              width: 80px;
              height: 1px;
              rotate: -157deg;
            }

            .line113 {
              position: absolute;
              right: -174px;
              bottom: -21px;
              background: #d8d1d1;
              width: 306px;
              height: 1px;
              rotate: -90deg;
            }

            .line114 {
              position: absolute;
              top: 46px;
              right: -457px;
              background: #d8d1d1;
              width: 306px;
              height: 1px;
              rotate: -90deg;
            }

            .line128 {
              position: absolute;
              right: -415px;
              bottom: -73px;
              background: #d8d1d1;
              width: 54px;
              height: 1px;
              rotate: -7deg;
            }

            .line129 {
              position: absolute;
              right: -537px;
              bottom: -59px;
              background: #d8d1d1;
              width: 54px;
              height: 1px;
              rotate: -6deg;
            }

            .line115 {
              position: absolute;
              top: 11px;
              right: -740px;
              background: #d8d1d1;
              width: 306px;
              height: 1px;
              rotate: -90deg;
            }

            .line116 {
              position: absolute;
              top: -19px;
              right: -977px;
              background: #d8d1d1;
              width: 306px;
              height: 1px;
              rotate: -90deg;
            }

            .group1 {
              position: absolute;
              bottom: -131px;
              left: 2px;
              width: 46px;
              height: 42px;
              rotate: -150deg;
            }

            .group223 {
              position: absolute;
              bottom: -154px;
              left: -57px;
              width: 46px;
              height: 42px;
              rotate: -150deg;
            }

            .group220 {
              position: absolute;
              bottom: -44px;
              left: -58px;
              width: 46px;
              height: 42px;
              rotate: -150deg;
            }

            .group221 {
              position: absolute;
              bottom: -72px;
              left: -3px;
              width: 46px;
              height: 42px;
              rotate: -150deg;
            }

            .group222 {
              position: absolute;
              bottom: -93px;
              left: 58px;
              width: 46px;
              height: 42px;
              rotate: -150deg;
            }

            .group219 {
              position: absolute;
              right: -235px;
              bottom: -71px;
              width: 58px;
              height: 54px;
              rotate: -150deg;
            }

            .group224 {
              position: absolute;
              right: -171px;
              bottom: -20px;
              width: 58px;
              height: 54px;
              rotate: -150deg;
            }

            .group225 {
              position: absolute;
              right: -116px;
              bottom: -76px;
              width: 58px;
              height: 54px;
              rotate: -150deg;
            }

            .group226 {
              position: absolute;
              right: -176px;
              bottom: -123px;
              width: 58px;
              height: 54px;
              rotate: -150deg;
            }

            .group227 {
              position: absolute;
              right: -379px;
              bottom: -56px;
              width: 41px;
              height: 38px;
              rotate: -150deg;
            }

            .group228 {
              position: absolute;
              right: -421px;
              bottom: -18px;
              width: 41px;
              height: 38px;
              rotate: -150deg;
            }

            .group229 {
              position: absolute;
              top: 9px;
              right: -471px;
              width: 41px;
              height: 38px;
              rotate: -150deg;
            }

            .group230 {
              position: absolute;
              right: -521px;
              bottom: -14px;
              width: 41px;
              height: 38px;
              rotate: -150deg;
            }

            .group231 {
              position: absolute;
              right: -563px;
              bottom: -43px;
              width: 41px;
              height: 38px;
              rotate: -150deg;
            }

            .ellipse47 {
              position: absolute;
              right: -780px;
              bottom: -19px;
              width: 122px;
              height: 122px;
              rotate: 31deg;
            }

            .text12 {
              position: absolute;
              right: -145px;
              bottom: -388px;
              width: 10px;
              height: 185px;
              line-height: 12px;
              letter-spacing: 0;
              color: #927e7e;
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 10px;
            }

            .text13 {
              position: absolute;
              right: -426px;
              bottom: -319px;
              width: 10px;
              height: 150px;
              line-height: 12px;
              letter-spacing: 0;
              color: #927e7e;
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 10px;
            }

            .text14 {
              position: absolute;
              right: -711px;
              bottom: -314px;
              width: 10px;
              height: 181px;
              line-height: 12px;
              letter-spacing: 0;
              color: #927e7e;
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 10px;
            }

            .text15 {
              position: absolute;
              right: -947px;
              bottom: -256px;
              width: 10px;
              height: 153px;
              line-height: 12px;
              letter-spacing: 0;
              color: #927e7e;
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 10px;
            }

            .text16 {
              position: absolute;
              right: -129px;
              bottom: -439px;
              width: 10px;
              height: 236px;
              line-height: 12px;
              letter-spacing: 0;
              color: #927e7e;
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 10px;
            }

            .text17 {
              position: absolute;
              right: -410px;
              bottom: -257px;
              width: 10px;
              height: 88px;
              line-height: 12px;
              letter-spacing: 0;
              color: #927e7e;
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 10px;
            }

            .text18 {
              position: absolute;
              right: -695px;
              bottom: -294px;
              width: 10px;
              height: 161px;
              line-height: 12px;
              letter-spacing: 0;
              color: #927e7e;
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 10px;
            }

            .text19 {
              position: absolute;
              right: -931px;
              bottom: -191px;
              width: 10px;
              height: 88px;
              line-height: 12px;
              letter-spacing: 0;
              color: #927e7e;
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 10px;
            }

            .text20 {
              position: absolute;
              right: -113px;
              bottom: -323px;
              width: 10px;
              height: 120px;
              line-height: 12px;
              letter-spacing: 0;
              color: #927e7e;
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 10px;
            }

            .text21 {
              position: absolute;
              right: -394px;
              bottom: -326px;
              width: 10px;
              height: 157px;
              line-height: 12px;
              letter-spacing: 0;
              color: #927e7e;
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 10px;
            }

            .text22 {
              position: absolute;
              right: -679px;
              bottom: -221px;
              width: 10px;
              height: 88px;
              line-height: 12px;
              letter-spacing: 0;
              color: #927e7e;
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 10px;
            }

            .text23 {
              position: absolute;
              right: -915px;
              bottom: -191px;
              width: 10px;
              height: 88px;
              line-height: 12px;
              letter-spacing: 0;
              color: #927e7e;
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 10px;
            }

            .text26 {
              position: absolute;
              right: -473px;
              bottom: -77px;
              width: 47px;
              height: 22px;
              text-align: center;
              letter-spacing: 0;
              color: #8f7f7f;
              font-size: 8px;
            }

            .vector60 {
              position: absolute;
              bottom: -149px;
              left: -1px;
              width: 107px;
              height: 34px;
              rotate: -18deg;
            }

            .vector61 {
              position: absolute;
              bottom: -37px;
              left: -10px;
              width: 107px;
              height: 53px;
            }

            .text27 {
              position: absolute;
              bottom: -22px;
              left: 65px;
              width: 57px;
              height: 32px;
              letter-spacing: 0;
              color: #8f7f7f;
              font-size: 8px;
            }

            .text28 {
              position: absolute;
              top: 0;
              left: 0;
              width: 136px;
              height: 60px;
              letter-spacing: 0;
              color: #8f7f7f;
              font-size: 8px;
            }

            .text29 {
              position: absolute;
              top: -54px;
              left: -66px;
              width: 136px;
              height: 60px;
              letter-spacing: 0;
              color: #8f7f7f;
              font-size: 8px;
            }
          }

          .text30 {
            margin: 104px 0px 0px 33px;
            width: 17px;
            height: 109px;
            line-height: 18px;
            letter-spacing: 0;
            color: #927e7e;
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }

          .text31 {
            margin: 36px 0px 0px 546px;
            width: 17px;
            height: 145px;
            line-height: 18px;
            letter-spacing: 0;
            color: #927e7e;
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }

          .autoWrapper5 {
            position: relative;
            margin-top: 163px;
            margin-left: 22px;
            width: 70px;
            height: 70px;

            .ellipse46 {
              position: absolute;
              top: 0;
              left: 0;
              border: 1px solid #d8d1d1;
              border-radius: 50%;
              width: 70px;
              height: 70px;
              rotate: -180deg;
            }

            .ellipse48 {
              position: absolute;
              right: -48px;
              bottom: -10px;
              width: 92px;
              height: 92px;
              rotate: 31deg;
            }

            .ellipse49 {
              position: absolute;
              top: 2px;
              right: -23px;
              width: 63px;
              height: 63px;
              rotate: 31deg;
            }

            .group11 {
              position: absolute;
              top: 0;
              left: 0;
              width: 70px;
              height: 70px;
              rotate: -180deg;
            }
          }

          .text32 {
            margin: 126px 0px 0px 22px;
            width: 49px;
            height: 24px;
            letter-spacing: 0;
            color: #8f7f7f;
            font-size: 8px;
          }

          .text33 {
            margin: 5px 0px 0px 58px;
            width: 17px;
            height: 145px;
            line-height: 18px;
            letter-spacing: 0;
            color: #927e7e;
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }
        }
      }

      .autoWrapper9 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 379px;
        margin-left: 58px;

        .text34 {
          margin: 0px 0px 0px 51px;
          width: 49px;
          height: 24px;
          letter-spacing: 0;
          color: #8f7f7f;
          font-size: 8px;
        }

        .autoWrapper8 {
          position: relative;
          margin-top: 26px;
          width: 147px;
          height: 147px;

          .ellipse199 {
            position: absolute;
            top: 0;
            left: 0;
            border: 1px dashed #d8d1d1;
            border-radius: 50%;
            width: 147px;
            height: 147px;
          }

          .group232 {
            position: absolute;
            top: 66px;
            left: 50px;
            width: 34px;
            height: 32px;
            rotate: -150deg;
          }

          .group234 {
            position: absolute;
            top: 55px;
            right: -19px;
            width: 46px;
            height: 42px;
            rotate: -150deg;
          }

          .group235 {
            position: absolute;
            top: 102px;
            left: 82px;
            width: 46px;
            height: 42px;
            rotate: -150deg;
          }

          .group236 {
            position: absolute;
            top: 77px;
            left: -12px;
            width: 46px;
            height: 42px;
            rotate: -150deg;
          }

          .group237 {
            position: absolute;
            top: 11px;
            left: 70px;
            width: 50px;
            height: 46px;
            rotate: -150deg;
          }

          .group238 {
            position: absolute;
            bottom: -10px;
            left: 12px;
            width: 50px;
            height: 46px;
            rotate: -150deg;
          }

          .group239 {
            position: absolute;
            top: 28px;
            left: -21px;
            width: 50px;
            height: 46px;
            rotate: -150deg;
          }
        }
      }

      .text35 {
        margin: 5px 0px 0px 184px;
        width: 23px;
        height: 538px;
        letter-spacing: 0;
        color: #8f7f7f;
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }

      .text36 {
        margin: 5px 0px 0px 2px;
        width: 23px;
        height: 175px;
        letter-spacing: 0;
        color: #8f7f7f;
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }

      .text37 {
        margin: 5px 0px 0px 2px;
        width: 23px;
        height: 396px;
        letter-spacing: 0;
        color: #8f7f7f;
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }
    }

    .vector {
      margin-top: 5px;
      margin-left: 1769px;
      width: 8px;
      height: 17px;
    }

    .autoWrapper11 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 217px;
      padding-right: 1443px;
      padding-left: 276px;

      .line127 {
        margin-top: 62px;
        background: #d8d1d1;
        width: 123px;
        height: 1px;
        rotate: -90deg;
      }

      .text38 {
        margin: 0px 0px 0px -52px;
        width: 10px;
        height: 88px;
        line-height: 12px;
        letter-spacing: 0;
        color: #927e7e;
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 10px;
      }

      .text39 {
        margin: 0px 0px 0px 6px;
        width: 10px;
        height: 88px;
        line-height: 12px;
        letter-spacing: 0;
        color: #927e7e;
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 10px;
      }

      .text40 {
        margin: 0px 0px 0px 6px;
        width: 10px;
        height: 36px;
        line-height: 12px;
        letter-spacing: 0;
        color: #927e7e;
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 10px;
      }
    }

    .text41 {
      margin: 74px 0px 0px 1602px;
      width: 230px;
      height: 25px;
      text-align: right;
      letter-spacing: 0;
      color: #b29999;
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 300;
    }

    .visualizationOfWildG {
      margin: 0px 0px 0px 1157px;
      width: 675px;
      height: 59px;
      text-align: right;
      letter-spacing: 0;
      color: #572c2c;
      font-family: "Padyakke Expanded One", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 18px;
    }
  }
}
