* {
  box-sizing: border-box;
}

.group15521 {
  display: flex;
  align-items: flex-start;
  padding: 245px 242px 93px 9px;
  width: 356px;
  height: 347px;
  background-image: url(../image/mp3qn4n6-v84k0eo.png);
  background-position: 0px -1px;
  background-size: 100% 100.38%;
  background-repeat: no-repeat;

  .text {
    width: 105px;
    height: 9px;
    letter-spacing: 0;
    color: #6e6262;
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 6px;
  }
}
